body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--crust);
  color: var(--text);
}

.chat-card {
  background: var(--mantle);
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  text-align: center;
  color: var(--action-color);
}

.messages {
  display: flex;
  flex: 1;
  padding: 10px;
  flex-direction: column;
  justify-content: safe flex-end;
  height: 100%;
  overflow-y: auto;
  gap: 4px;
  background: var(--base);  
}

.msg {
  max-width: 80%;
  padding: 6px 10px;
  width: fit-content;
  background: var(--surface0);
  border-radius: 14px;
}

.msg.my-msg {
  align-self: flex-end;
}

.msg.unread {
  border-left: solid 2px var(--action-color);
}

.footer {
  display: flex;
  align-items: flex-end;
}

.footer textarea {
  flex: 1;
  resize: none;
  overflow-y: auto;
  max-height: 100px;
  scrollbar-gutter: stable;
  padding: 10px;
}

button[type=submit] {
  padding: 10px;
  height: min-content;
}