*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}

input, button {
  border: none;
  outline: none;
}

input, button, textarea, select {
  font: inherit;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
