*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  border: none;
  outline: none;
  background: none;
  
}

input, button, textarea, select {
  font: inherit;
}

textarea {
  color: var(--text);
  resize: none;
}

textarea::placeholder {
  color: var(--surface2);
}

button[type=submit] {
  color: var(--action-color);
}

button[type=submit]:hover {
  cursor: pointer;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
