/* --- ТЕМА MOCHA --- */
[data-theme="mocha"] {
  --crust: #11111b;
  --mantle: #181825;
  --base: #1e1e2e;
  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;

  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;

  --action-color: #89b4fa;
  --border-color: var(--bg-surface1);
}