{% include 'base.html' %}
{% block content %}

<div class="chat-card">
    <div class="header">Название чата</div>

    <div class="messages">
        <div class="msg">Привет! Как дела?</div>
        <div class="msg unread">Это новое сообщение (is_read=False)</div>
    </div>

    <form class="footer" action="/send" method="POST">
        <textarea name="message-input" placeholder="Сообщение..." rows="1" required></textarea>
        <button type="submit">Send</button>
    </form>
</div>

{% endblock %}

<script>
    const textarea = document.querySelector('textarea');

    textarea.addEventListener('input', autoResize);

    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    }
</script>